
ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    
}


li {
    display: block;
    float: right;
    text-align: center;
    padding: 2px 8px;
    text-decoration: none;
    color: #ff9600;
    font-weight: bold;
    font-family: cabin;
    
}

